[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
wxpy = {index = "https://pypi.doubanio.com/simple/",version = "*"}
pillow = "*"
requests = "*"
ipython = "*"
bs4 = "*"
sqlalchemy = "*"
sqlite3 = "*"
pysqlite3 = "*"
pysqlite = "*"

[requires]
python_version = "3.6.6"
